@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@layer base {
  body {
    @apply bg-berserk-dark text-berserk-text min-h-screen antialiased selection:bg-berserk-red selection:text-white relative;
    background-image: url('./assets/bg-guts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* Dark Overlay */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(5, 5, 5, 0.85);
    /* 85% opacity charcoal overly */
    z-index: -1;
    pointer-events: none;
  }
}

/* Custom scrollbar for that gritty feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f1d1d;
}